.our   
    background-color: rgba(232, 216, 182, 0.3);
    padding: 44px 0 70px 0
    &__title
        margin-bottom: 33px
    &__slide
        width: 180px
        height: 123px
        background-color: #ffffff
        border: 1.0px solid #f8f3e9
        display: flex
        align-items: center
        justify-content: center
    &__slider-inner
        position: relative
        width: 1140px
        margin: 0 auto
        display: flex
        justify-content: space-between
    &__slider-prev
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -30px
    &__slider-next
        position: absolute
        bottom: 50%
        transform: translateY(50%)
        right: -30px
    